:root {
  --ff7b00: #ff7b00;
  --fe2f00: #fe2f00;
  --ff2500: #ff2500;
  --ff246d: #ff246d;
  --a51500: #a51500;
  --ff2801: #ff2801;
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 479px) {
  body {
    font-family: Ppobjectsans, Impact, sans-serif;
    font-weight: 400;
  }

  .section {
    background-color: var(--ff7b00);
    background-image: linear-gradient(180deg, var(--ff7b00), var(--fe2f00) 36%, var(--ff2500) 72%, var(--ff246d));
    overflow: hidden;
  }

  .body {
    padding-bottom: 0;
    font-weight: 400;
  }

  .heading {
    background-image: linear-gradient(180deg, var(--a51500), var(--ff2801));
    opacity: .39;
    color: var(--ff2801);
    letter-spacing: -20px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 45vw;
    font-weight: 400;
    line-height: 100%;
  }

  .flex-block {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .image {
    z-index: 9;
    position: absolute;
    inset: auto;
  }

  .div-block {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }

  .heading-2 {
    color: var(--white);
    font-size: 50px;
    font-weight: 400;
  }

  .heading-2.heading-2-1 {
    font-size: 40px;
  }

  .button {
    z-index: 9;
    background-color: #ff5100;
    background-image: linear-gradient(#ff5100, #ff9100 45%, #ffb048);
    border: 3px solid #fe2d0152;
    border-radius: 50px;
    margin-left: -16px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 65px;
    font-weight: 400;
    line-height: 75px;
    position: relative;
  }

  .button.button-marginleftauto {
    margin-left: auto;
    margin-right: -16px;
  }

  .button.button-2 {
    background-image: linear-gradient(#ff5100, #ff9100 45%, #ffb048);
    border-style: none;
    margin-left: auto;
    font-size: 35px;
    line-height: 40px;
    display: block;
  }

  .button.button-noborder {
    border-style: none;
    margin-left: 0;
  }

  .div-block-2 {
    opacity: 1;
    background-color: #ff9e204d;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  .div-block-2._2-1 {
    background-color: #ff9e2066;
    width: 125px;
    height: 125px;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    inset: auto;
  }

  .div-block-2._2-1._2-2 {
    background-color: #ff9e2080;
    width: 100px;
    height: 100px;
  }

  .div-block-2._2-3 {
    opacity: 0;
  }

  .div-block-3 {
    position: relative;
  }

  .div-block-4 {
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    inset: -20px auto auto 180px;
  }

  .image-2 {
    width: 150px;
  }

  .flex-block-2 {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    flex-flow: row;
    margin-top: 60px;
  }

  .div-block-5 {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: -75px;
    padding-top: 56px;
    padding-bottom: 20px;
    display: flex;
  }

  .div-block-6 {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
  }

  .image-3 {
    position: absolute;
  }

  .hero {
    background-color: var(--ff7b00);
    background-image: linear-gradient(180deg, var(--ff7b00), var(--fe2f00) 36%, var(--ff2500) 72%, var(--ff246d));
    overflow: hidden;
  }

  .image-4 {
    margin-top: 0;
    margin-left: auto;
    display: block;
    position: relative;
    top: -59px;
  }

  .section-2 {
    overflow: hidden;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-3 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
  }

  .heading-3._3-1 {
    color: #919aaa;
    margin-top: 10px;
    font-size: 25px;
  }

  .flex-block-3 {
    flex-flow: column;
    width: 600px;
    margin-bottom: 0;
  }

  .image-5 {
    width: 100%;
    height: 50px;
  }

  .flex-block-4 {
    overflow: hidden;
  }

  .div-block-7 {
    margin-bottom: 40px;
    position: relative;
  }

  .div-block-8 {
    background-image: linear-gradient(45deg, #0000, #fff 27%);
    width: 100%;
    margin-left: auto;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    inset: 0%;
  }

  .flex-block-5 {
    margin-top: 60px;
    position: relative;
  }

  .image-6 {
    z-index: 1;
    position: absolute;
    inset: auto 0% 0%;
  }

  .image-7 {
    z-index: 2;
    position: absolute;
    inset: auto 0% 0%;
  }

  .image-8 {
    z-index: 6;
    position: absolute;
    inset: auto 0% 0%;
  }

  .image-9 {
    z-index: 5;
    position: absolute;
    inset: auto 0% 0%;
  }

  .image-10 {
    z-index: 6;
    position: absolute;
    inset: auto 0% 0%;
  }

  .image-11 {
    z-index: 7;
    position: absolute;
    inset: auto 0% 0%;
  }

  .image-12 {
    z-index: 6;
    position: absolute;
    inset: auto 0% 0%;
  }

  .image-13 {
    z-index: 9;
    position: absolute;
    inset: auto 0% 0%;
  }

  .section-3 {
    padding-top: 40px;
    position: relative;
  }

  .section-3.hero {
    background-image: linear-gradient(180deg, var(--ff7b00), var(--fe2f00) 36%, var(--ff2500) 72%, var(--ff246d));
  }

  .section-3.hero.section-3-notoppadding {
    padding-top: 4px;
  }

  .div-block-9 {
    overflow: hidden;
  }

  .image-14 {
    width: 100px;
    margin-left: auto;
    display: block;
    position: static;
    top: 16px;
  }

  .spacer {
    height: 40px;
    min-height: 20px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .spacer.spacer-60px {
    height: 60px;
  }

  .spacer.spacer-100px {
    height: 100px;
  }

  .image-15 {
    width: 150px;
    height: 100%;
    margin-top: 14px;
  }

  .flex-block-6 {
    width: 35%;
    height: 100%;
    position: relative;
  }

  .flex-block-6.flex-block-6-center {
    justify-content: center;
    align-items: flex-start;
  }

  .image-16 {
    position: absolute;
    left: 16px;
  }

  .image-16.image-16-1 {
    inset: 0% auto auto -14px;
  }

  .image-16.image-16-2 {
    top: -8px;
  }

  .image-16.image-16-2.image-16-middle {
    margin-top: auto;
    margin-bottom: auto;
    top: auto;
  }

  .flex-block-7 {
    color: var(--black);
    width: 65%;
    padding-left: 30px;
    line-height: 100%;
  }

  .flex-block-7.flex-block-7-1 {
    padding-left: 0;
    padding-right: 20px;
  }

  .heading-4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
  }

  .heading-4.heading-4-white {
    color: var(--white);
    line-height: 120%;
  }

  .heading-4.heading-4-white.heading-4-center {
    text-align: center;
  }

  .flex-block-8 {
    background-image: linear-gradient(264deg, var(--ff7b00), var(--fe2f00) 66%, #ffad41 100%, white);
    border-radius: 2px 88px 88px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 56px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .flex-block-8.flex-block-8-1 {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    background-image: linear-gradient(264deg, var(--ff7b00), var(--fe2f00) 66%, #ffad41 100%, white);
    border-radius: 88px 8px 88px 88px;
    padding-left: 10px;
    padding-right: 30px;
  }

  .text-block {
    color: var(--white);
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 17px;
    line-height: 110%;
    display: flex;
  }

  .image-17 {
    width: 40px;
    height: 40px;
  }

  .flex-block-9 {
    margin-bottom: 40px;
  }

  .flex-block-10 {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .flex-block-10.flex-block-10-1 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-left: 0;
  }

  .flex-block-10.flex-block-10-center {
    justify-content: flex-start;
    align-items: center;
  }

  .image-18 {
    margin-top: auto;
    display: block;
    position: absolute;
    inset: auto auto auto -19%;
  }

  .image-19 {
    width: 100px;
  }

  .div-block-10 {
    padding-left: 20px;
    position: relative;
  }

  .image-20 {
    width: 92%;
    margin-left: 0;
    position: absolute;
    inset: auto -6% -4% auto;
  }

  .flex-block-11 {
    z-index: 9;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    position: absolute;
  }

  .image-21 {
    width: 75px;
  }

  .div-block-11 {
    flex-flow: column;
    display: flex;
  }

  .div-block-11.div-block-11-block {
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    position: relative;
  }

  .div-block-12 {
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    flex-flow: column;
    padding-bottom: 20px;
    display: flex;
  }

  .image-22 {
    width: 100px;
    position: absolute;
    inset: 0% auto auto 0%;
  }

  .flex-block-12 {
    z-index: 9;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 60px;
    position: relative;
  }

  .flex-block-13 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: -119px;
  }

  .image-23 {
    margin-top: 0;
    position: relative;
    top: 5px;
  }

  .section-4 {
    margin-top: 50px;
    overflow: hidden;
  }

  .flex-block-14 {
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 141px;
  }

  .image-24 {
    width: 100px;
    margin-left: auto;
    display: block;
    position: absolute;
  }

  .image-25 {
    width: 100%;
    position: relative;
    top: -25px;
    left: -35px;
  }

  .div-block-13 {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 0;
    padding-bottom: 20px;
    padding-right: 20px;
    display: flex;
    position: relative;
  }

  .image-26 {
    height: 56px;
    position: absolute;
    inset: 0% 119px 0% auto;
  }

  .image-26.image-26-1 {
    height: 100px;
    inset: 0% 0% 0% auto;
  }

  .image-27 {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .image-28 {
    width: 25px;
    margin: 60px auto 40px;
    display: block;
  }

  .image-29 {
    width: 120px;
    margin: 40px auto 60px;
    display: block;
  }

  .image-30 {
    width: 75px;
  }

  .flex-block-15 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: auto;
    margin-right: 5px;
  }

  .flex-block-16 {
    width: 1500px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
  }

  .heading-5 {
    color: var(--black);
    flex-flow: column;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
  }

  .div-block-14 {
    position: relative;
  }

  .heading-6 {
    background-image: linear-gradient(180deg, var(--ff7b00), var(--fe2f00) 47%, var(--ff2500));
    color: var(--white);
    letter-spacing: -5px;
    border-radius: 2px 88px 88px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    position: absolute;
    inset: auto auto -47px 71px;
  }

  .image-31 {
    width: 300px;
    position: absolute;
    inset: auto 0% 0% auto;
  }
}


@font-face {
  font-family: 'Ppobjectsans';
  src: url('../fonts/PPObjectSans-Regular.otf') format('opentype'), url('../fonts/PPObjectSans-Slanted.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppobjectsans';
  src: url('../fonts/PPObjectSans-Heavy.otf') format('opentype'), url('../fonts/PPObjectSans-HeavySlanted.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}